body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	margin: auto;
	width: 80%;
	padding-top: 30px;
	padding-bottom: 30px;
}

a {
	color: #001a8d;
	text-decoration: none;
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

.wrap-search {
	position: relative;
}
.wrap-search input {
	position: relative;
	box-sizing : border-box;
	width: 100%;
	padding: 8px 20px;
	border-radius: 50px;
	border: 2px solid rgb(88, 88, 88);
	outline: none;
	font-size: 15px;
	font-family: 'Quicksand', sans-serif;
}
.wrap-search img {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.wrap-search img.close {
	right: 45px;
	display: none;
}

.wrap-content ul {
	padding-left: 20px;
	padding-right: 20px;
}
.wrap-content li.total {
	color: rgb(88, 88, 88);
	margin-top: 20px;
}
.wrap-content li.item {
	margin-top: 25px;
}
.wrap-content li.item a.title {
	font-weight: 900;
}
.wrap-content li.item div.snippet {
	margin-top: 5px;
	margin-bottom: 15px;
}
.wrap-content li.item img {
	width: 90px;
	height: 90px;
}

.loader, img.cse {
	position: fixed;
	left: 50%;
	top: 50%;
	display: none;
	transform: translate(-50%, -50%);
}
img.cse {
	display: block;
	width: 30%;
}

.page {
	margin-top: 50px;
	text-align: center;
	display: none;
}
.page button {
	background-color: #eb1a58;
	color: white;
	outline: none ;
	border: none ;
	padding: 10px 25px;
	text-align: center;
	border-radius: 30px;
	cursor: pointer;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	margin: 10px;
}
.page button.disabled {
	background-color: #5f5f5f;
	cursor: not-allowed;
	color: rgb(231, 231, 231);
}


@media only screen and (max-width: 768px) {
	body {
		width: 96%
	}
}
